<div class="container-banner" id="banner">
    
    <div class="capa-gradient">
  
    </div>
    <div class="container-details">
          <div class="details">
              <h1><span class="typed"></span></h1>
              <p>Soy <span> <b>Desarrollador Web Full Stack</b> </span> buscando mis primeras experiencias en el mundo IT, principalmente
                para ir progresando y mejorando mis habilidades adquiriendo mas conocimiento en este rubro.
              </p>
          </div>
          <div class="details-footer">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/ciro-martin-06455321b/" target="_blank">
                    <i class="fab fa-linkedin-in"></i>    </a>
                </li>
                <li>
                    <a href="https://github.com/CiroM77" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/M77Ciro" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li>
                    <a href="https://www.instagram.com/ciromartin77/" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
          </div>
      </div>
  </div>
 