<!-- EDUCACION -->
  <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end" id="btn-crear">
  <button (click) = "crearEdu(miEducacion.id)" class="btn btn-success me-md-2" type="button">Nuevo</button>
  <button (click) = "deleteEdu(miEducacion.id)" class="btn btn-danger" type="button">Eliminar</button>
</div>  -->
<div class="card" id="card-educacion" data-aos="fade-left" *ngFor = "let educa of miEducacion">
    <h3><i>Educación</i></h3>
    <div class="card-header" id="header-educacion">
      {{educa.institucion}}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><b> {{educa.carrera}} </b> </p>
        <footer class="blockquote-footer" id="footer-educacion">{{educa.anioEntrada}}-{{educa.anioSalida}}</footer>
      </blockquote>
    </div>
  </div>


