<!-- EDUCACION -->
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-light me-md-2" type="button">Nuevo</button>
  <button class="btn btn-light" type="button">Eliminar</button>
</div>
<div class="card" id="card-educacion" data-aos="fade-left">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-light me-md-2" type="button"><i class="fa-solid fa-pen-to-square"></i></button>
    <button class="btn btn-light" type="button"><i class="fa-solid fa-trash"></i></button>
  </div>
    <h3><i>Educación</i></h3>
    <div class="card-header" id="header-educacion">
      Ministerio de Desarrollo Productivo Argentina
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><b>Argentina Programa: #SeProgramar y #YoPorgramo</b> </p>
        <footer class="blockquote-footer" id="footer-educacion">2021-2022</footer>
      </blockquote>
    </div>
  </div>

  <div class="card" id="card-educacion" data-aos="fade-right">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-light me-md-2" type="button"><i class="fa-solid fa-pen-to-square"></i></button>
      <button class="btn btn-light" type="button"><i class="fa-solid fa-trash"></i></button>
    </div>
    <h3><i>Educación</i></h3>
    <div class="card-header" id="header-educacion">
      Insituto Superior Politécnico de Cordoba
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><b>Tecnicatura en Ciencia de Datos e Inteligencia Artifial</b> </p>
        <footer class="blockquote-footer" id="footer-educacion">2022-Actualidad</footer>
      </blockquote>
    </div>
  </div>

