<div class="container-login">

    <div class="row fila1">
      <div class="col">
        <img src="assets/images/welcome.png" alt="">
        <a href="" class="bg-primary text-white"><i class="fa-solid fa-reply"></i>Volver</a>
      </div>
      <div class="col">
        <h2>Inicio de Sesion</h2>
        <form [formGroup]="form" (ngSubmit)="OnEnviar($event)">
          <div class="mb-3 mt-6">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico.</div>
            <div *ngIf="email?.errors && email?.touched">
              <p *ngIf="email?. hasError('required')" class="text-danger">
                  El email es requerido.
              </p>
              <p *ngIf="email?. hasError ('email')" class="text-danger">
                El formato del email debe ser välido.
               </p>
            </div>
          </div>
          <div class="mb-4">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div *ngIf="password?.errors && password?.touched">
            <p *ngIf="password?. hasError('required')" class="text-danger">
               La contraseña es requerida.
            </p>
            <!-- <p *ngIf="password?.errors?.minlength" class="text-danger">
               La contraseña debe ser de 8 o más caracteres.
            </p> -->
           </div>

          <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
      </div>
    </div>


</div>

