<nav class="navbar sticky-top" id="navbar">
    <div class="nav justify-content-start">
      <a class="navbar-brand ms-5 py-0" href="#" id="a-img">
        <img src="assets\images\logo-arg2.png" alt="" width="90" height="60">
      </a>
    </div>
    <div class="cont-text">
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#banner">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#container-card">Acerca de mi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#card-educacion">Educación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#container-habilidades">Habilidades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#container-contacto" >Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="inicio-sesion" routerLink="/inicio-sesion" href="#">
                <i class="fa-solid fa-angle-right"></i>
                Iniciar Sesion</a>
            </li>
          </ul>

    </div>
  </nav>