<div class="container-contacto" id="container-contacto" data-aos="fade-left">
    <h2>Contacto</h2>
    <div class="mb-3" id="container-email">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3" id="container-text">
  <label for="exampleFormControlTextarea1" class="form-label">Inserte el comentario</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="container-btn">
      <button class="btn-contacto">Enviar</button>
    </div>
</div>