<div class="card mb-3 container-card" id="container-card" data-aos="fade-up">
    <div class="row g-0 row-card">
      
      <div class="col-md-4 col-img">
        <img src="assets\images\perfil.jpg" class="img-fluid" alt="...">
      </div>
      <div class="col-md-6  col-text">
        <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-light me-md-2" id="btn-edit" type="button"><i class="fa-solid fa-pen-to-square"></i></button>
          <button class="btn btn-light" id="btn-del" type="button"><i class="fa-solid fa-trash"></i></button>
        </div> -->
        <div class="card-body">
          <h4 class="card-title"> <i>ACERCA DE MI</i> </h4>
          <p *ngFor = "let portafolio of miPortafolio" class="card-text"> {{portafolio.acercaDeMi}}
          </p>
        </div>
      </div>
      
    </div>
    <div class="row" id="row-btn">
      <a class="a-cv" href="assets/doc/Curriculum vitae- Ciro Martin.pdf" target="_blank">Descargar C.V.</a>

    </div>
    </div> 

  
