<!-- <h4>Crear nueva Educación</h4>

<div class="col-sm-6 offset-sm-3">
    
    <form (ngSubmit) = "onSubmitForm()">
    
        <div class="form-group">
            <label>Institución</label>
            <input type="text" class ="form-control" id = "institucion"
                [(ngModel)] = "educacion.institucion" name = "institucion">
        </div>
    
        <div class="form-group">
            <label>Carrera</label>
            <input type="text" class ="form-control" id = "carrera"
                [(ngModel)] = "Educacion.carrera" name = "carrera">
        </div>
    
        <div class="form-group">
            <label> Año Entrada</label>
            <input type="text" class ="form-control" id = "anioEntrada"
                [(ngModel)] = "educacion.anioEntrada" name = "anioEntrada">
        </div>

        <div class="form-group">
            <label> Año Salida</label>
            <input type="text" class ="form-control" id = "anioSalida"
                [(ngModel)] = "educacion.anioSalida" name = "anioSalida">
        </div>
    
        <button class = "btn btn-success" type ="submit">Aceptar</button>
    
    </form>
</div>  -->